/*Variabel warna*/
:root{
    --warna1: #f5f5f5;
    --warna2: #ebecf0;
    --warna3: #336a70;
    
 }
 /*Navbar*/
nav {
    background-color: var(--warna3);
    color: var(--warna2);
 }

 .navbar-brand img{
    height: 50px;
    width: 50px;
 }

body, html {
    width: 100%;
    font-family: 'Archivo', sans-serif;
}

/*Main*/
main h1#judul{
text-align: center;
padding-top: 40px;
}

main{
    background-color: var(--warna2);
}

/*Container judul*/
#container-judul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#container-judul img{
    width: 50px;
    padding-top: 20px;
}



#hotel{
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-hotel{
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(3, 31, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
    background-color: var(--warna1);
}
.card-hotel:hover{
    transform: scale(1.1);
}

/*Bagian atas*/
.bagian-atas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-hotel .bagian-atas img{
    width: 100%;
}

/*Bagian bawah*/
.bagian-bawah{
    display: flex;
    flex-direction: row;
    
}

.gambar img{
    width: 90%;
    margin: 5px;
}

.gambar img:hover{
    transform: scale(1.1);
}

.card-hotel .bagian-bawah iframe{
    width: 50%;
    height: 230px;
}

.keterangan ul{
    list-style: none;
    border: 1px solid var(--warna3);
    background-color: var(--warna2);
    width: 60%;
    justify-content: center; 
    margin: 0 auto;
}

/*Footer*/
footer{
    text-align: center;
    padding: 40px;
    background-color: var(--warna3);
    color: var(--warna2);
 }